BasketProject/bin/Debug/net5.0/Basket.deps.json
BasketProject/bin/Debug/net5.0/Basket.dll
BasketProject/bin/Debug/net5.0/Basket.pdb
BasketProject/bin/Debug/net5.0/BasketProject.deps.json
BasketProject/bin/Debug/net5.0/BasketProject.dll
BasketProject/bin/Debug/net5.0/BasketProject.pdb
BasketProject/bin/Debug/net5.0/ref/Basket.dll
BasketProject/bin/Debug/net5.0/ref/BasketProject.dll
BasketProject/obj/Basket.csproj.nuget.dgspec.json
BasketProject/obj/Basket.csproj.nuget.g.props
BasketProject/obj/Basket.csproj.nuget.g.targets
BasketProject/obj/BasketProject.csproj.nuget.dgspec.json
BasketProject/obj/BasketProject.csproj.nuget.g.props
BasketProject/obj/BasketProject.csproj.nuget.g.targets
BasketProject/obj/project.assets.json
BasketProject/obj/project.nuget.cache
BasketProject/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
BasketProject/obj/Debug/net5.0/Basket.AssemblyInfo.cs
BasketProject/obj/Debug/net5.0/Basket.AssemblyInfoInputs.cache
BasketProject/obj/Debug/net5.0/Basket.assets.cache
BasketProject/obj/Debug/net5.0/Basket.csproj.AssemblyReference.cache
BasketProject/obj/Debug/net5.0/Basket.csproj.CoreCompileInputs.cache
BasketProject/obj/Debug/net5.0/Basket.csproj.FileListAbsolute.txt
BasketProject/obj/Debug/net5.0/Basket.dll
BasketProject/obj/Debug/net5.0/Basket.GeneratedMSBuildEditorConfig.editorconfig
BasketProject/obj/Debug/net5.0/Basket.pdb
BasketProject/obj/Debug/net5.0/BasketProject.AssemblyInfo.cs
BasketProject/obj/Debug/net5.0/BasketProject.AssemblyInfoInputs.cache
BasketProject/obj/Debug/net5.0/BasketProject.assets.cache
BasketProject/obj/Debug/net5.0/BasketProject.csproj.AssemblyReference.cache
BasketProject/obj/Debug/net5.0/BasketProject.csproj.CoreCompileInputs.cache
BasketProject/obj/Debug/net5.0/BasketProject.csproj.FileListAbsolute.txt
BasketProject/obj/Debug/net5.0/BasketProject.dll
BasketProject/obj/Debug/net5.0/BasketProject.GeneratedMSBuildEditorConfig.editorconfig
BasketProject/obj/Debug/net5.0/BasketProject.pdb
BasketProject/obj/Debug/net5.0/ref/Basket.dll
BasketProject/obj/Debug/net5.0/ref/BasketProject.dll
BasketUnitTests/bin/Debug/net5.0/BasketProject.dll
BasketUnitTests/bin/Debug/net5.0/BasketProject.pdb
BasketUnitTests/bin/Debug/net5.0/BasketUnitTests.deps.json
BasketUnitTests/bin/Debug/net5.0/BasketUnitTests.dll
BasketUnitTests/bin/Debug/net5.0/BasketUnitTests.pdb
BasketUnitTests/bin/Debug/net5.0/BasketUnitTests.runtimeconfig.dev.json
BasketUnitTests/bin/Debug/net5.0/BasketUnitTests.runtimeconfig.json
BasketUnitTests/bin/Debug/net5.0/CoverletSourceRootsMapping
BasketUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.AdapterUtilities.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
BasketUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
BasketUnitTests/bin/Debug/net5.0/Newtonsoft.Json.dll
BasketUnitTests/bin/Debug/net5.0/NuGet.Frameworks.dll
BasketUnitTests/bin/Debug/net5.0/testhost.dll
BasketUnitTests/bin/Debug/net5.0/testhost.exe
BasketUnitTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/ref/BasketUnitTests.dll
BasketUnitTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BasketUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BasketUnitTests/obj/BasketUnitTests.csproj.nuget.dgspec.json
BasketUnitTests/obj/BasketUnitTests.csproj.nuget.g.props
BasketUnitTests/obj/BasketUnitTests.csproj.nuget.g.targets
BasketUnitTests/obj/project.assets.json
BasketUnitTests/obj/project.nuget.cache
BasketUnitTests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.AssemblyInfo.cs
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.AssemblyInfoInputs.cache
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.assets.cache
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.csproj.AssemblyReference.cache
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.csproj.CopyComplete
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.csproj.CoreCompileInputs.cache
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.csproj.FileListAbsolute.txt
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.dll
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.GeneratedMSBuildEditorConfig.editorconfig
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.genruntimeconfig.cache
BasketUnitTests/obj/Debug/net5.0/BasketUnitTests.pdb
BasketUnitTests/obj/Debug/net5.0/ref/BasketUnitTests.dll
